h5, h6, h3, h4 { padding:0; margin:0; font-family: "Consolas";}
h1, h2 {font-family: 'Arial';}

.l{color: #f8f8f8;}
.d{color: #d8d8d8;}

body {background-color: #000000;overflow-x: hidden;
overflow-y: hidden; font-size: calc(2.04vmin)}

.lab {border-bottom:6.5vh solid #103A1D;
border-right: 4vw solid transparent;
height: 0vh;
width: 28vw;
}

.par {height: 13vh; width: 42vw; transform: skew(25deg);
	background: #103A1D;}
.rec {height: 6.5vh; width: 1.5vw;
	background: #103A1D;}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.vl {
  border-left: 0.07vw solid #d8d8d8;
  height: 100vh;
  position: absolute;
  left: 35%;
  margin-left: 0.2vw;
  top: 0;
}

.select {background-color: #000000; color: #d8d8d8;}

.urg{
height: 6.5vh;
width: 0.35vw;
transform: skew(50deg);
  background-color: #E77500;}

.tab{
height: 10vh;
width: 21vw;
border-top: 0.15vh solid #d8d8d8;
border-left: 0.07vw solid #d8d8d8;
border-right: none;
border-bottom:none;
position:absolute;
right:0px;
bottom:0px;
background-color:transparent}

.sep{height:10vh;
border-left: 0.07vw solid #d8d8d8;
position:absolute;
bottom:0px;
background-color:transparent}

.tablabels{position:absolute;bottom:5vh;text-align:center;transform: translate(+50%, +120%);color: #d8d8d8;}