h5, h6, h3, h4 { padding:0; margin:0; font-family: "Consolas";}
h1, h2 {font-family: 'Arial';}
.l{color: #d8d8d8;}
.d{color: #f8f8f8;}
body {background-color: #222222;overflow-x: hidden;}
.lab {border-bottom: 50px solid #660000;
border-right: 60px solid transparent;
height: 0px;
width: 400px;
}
.par {height: 100px; width: 600px; transform: skew(25deg);
	background: #660000;}
.rec {height: 50px; width: 20px;
	background: #660000;}
.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.vl {
  border-left: 1px solid #f8f8f8;
  height: 775px;
  position: absolute;
  left: 35%;
  margin-left: -3px;
  top: 0;
}

.select {background-color: #222222; color: #f8f8f8;}

.urg{
height: 50px;
width: 5px;
transform: skew(50deg);
  background-color: #FFD700;}

.tab{
height: 80px;
width: 300px;
border-top: 1px solid #f8f8f8;
border-left: 1px solid #f8f8f8;
border-right: none;
border-bottom:none;
position:absolute;
right:0px;
bottom:0px;
background-color:transparent}

.sep{height:80px;
border-left: 1px solid #f8f8f8;
position:absolute;
bottom:0px;
background-color:transparent}

.tablabels{position:absolute;bottom:40px;text-align:center;transform: translate(+50%, +120%);color: #f8f8f8;}